<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Form</title>
    

<script>
    const locations = [
        "ARENA BLANCO", "AYALA", "BALIWASAN", "BALUNO", "BASILAN",
        "BOALAN", "BOLONG", "BUNGUIAO", "BUSAY", "CABALUAY",
        "CABATANGAN", "CALARIAN", "CAMINO NUEVO", "CAMPO ISLAM",
        "CANELAR", "CAWIT", "CULIANAN", "CURUAN", "DIVISORIA",
        "GOV. CAMINS", "GOV. LIM", "GOV. RAMOS", "GUISAO",
        "GUIWAN", "SULU", "KASANYANGAN", "LA PAZ", "LABUAN",
        "LAMISAHAN", "LANDANG GUA", "LANDANG LAUM", "LAPAKAN",
        "LIMPAPA", "LUBIGAN", "LUMBANGAN", "LUNZURAN", "MAASIN",
        "MALAGUTAY", "MAMPANG", "MANALIPA", "MANGUSU", "MANICAHAN",
        "MARIKI", "MERCEDES", "NUÑEZ EXTENSION", "PAGADIAN CITY",
        "PAMUCUTAN", "PASOBOLONG", "PASONANCA", "PATALON", "PUTIK",
        "RECODO", "RIO HONDO", "SACOL ISLAND", "SALAAN",
        "SAN JOSE CAWA-CAWA", "SAN JOSE GUSU", "SAN ROQUE-ZC",
        "SANGALI", "SINUBONG", "SINUNUC", "STA. BARBARA",
        "STA. CATALINA", "STA. MARIA", "STO. NIÑO", "TAGASILAY",
        "TAGUITI", "TALABAAN", "TALISAYAN", "TALON-TALON",
        "TALUKSANGAY", "TAWI-TAWI", "TETUAN", "TIGTABON",
        "TUGBUNGAN", "TULUNGATUNG", "TUMAGA", "TUMATULAB",
        "VETERANS AVENUE", "VICTORIA", "VITALI", "ZAMBOWOOD",
        "ZAMBOANGA DEL NORTE", "ZONE 1", "ZONE 2", "ZONE 3",
        "ZONE 4", "ABUNO", "ACMAC", "BAGONG SILANG", "BONBONON",
        "BURU-UN", "DALIPUGA", "DEL CARMEN", "DITUCALAN",
        "HINAPLANON", "KALILANGAN", "KIWALAN", "LUINAB",
        "MA. CRISTINA", "MAHAYAHAY", "MARAWI CITY", "PALA-O",
        "POBLACION", "PUGA-AN", "SAN MIGUEL", "SAN ROQUE-IC",
        "SANTIAGO", "SARAY", "STA. ELENA", "STA. FILOMENA",
        "STO. ROSARIO", "SUAREZ", "TAMBACAN", "TIBANGA",
        "TIPANOY", "TOMAS CABILI", "TOMINOBO", "TUBOD",
        "UBALDO LAYA", "UPPER HINAPLANON", "VILLA VERDE",
        "LANAO DEL SUR", "LANAO DEL NORTE", "MIS. ORIENTAL",
        "MIS. OCCIDENTAL", "ZAMBOANGA SIBUGAY", "CAGAYAN DE ORO CITY",
        "ZAMBOANGA DEL SUR", "ROGONGON", "MANDULOG", "TAMBO",
        "RONGONGON", "MUTI", "PANUBIGAN", "DIKILAAN",
        "CACAO", "LANSONES", "KABACSANAN"
    ];

    let existingNames = [];
    let globalNames = [];
        function autocomplete(input, suggestions, fetchDetails) {
            input.addEventListener("input", function() {
                const value = this.value;
                closeAllLists();
                if (!value) return;

                const suggestionBox = document.createElement("div");
                suggestionBox.setAttribute("class", "autocomplete-suggestions");
                this.parentNode.appendChild(suggestionBox);

                suggestions.forEach(item => {
                    if (item.toLowerCase().includes(value.toLowerCase())) {
                        const suggestionItem = document.createElement("div");
                        suggestionItem.innerHTML = item;
                        suggestionItem.classList.add("autocomplete-suggestion");
                        suggestionItem.addEventListener("click", function() {
                            input.value = this.innerHTML;
                            closeAllLists();
                            fetchDetails(this.innerHTML);
                            fetchCustomerDetails(this.innerHTML); // For existing names
                            fetchCustomerInfo(this.innerHTML); 
                        });
                        suggestionBox.appendChild(suggestionItem);
                    }
                });
            });
        }
            function closeAllLists() {
                const items = document.querySelectorAll(".autocomplete-suggestions");
                items.forEach(item => item.parentNode.removeChild(item));
            }

    function fetchCustomerDetails(name) {
    fetch('/check_name', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ name: name })
    })
    .then(response => response.json())
    .then(data => {
        if (data && data.customerType === 'existing') {
            // Populate fields with the retrieved data
            document.getElementById('age').value = data.age;
            document.getElementById('birthday').value = data.birthday;
            document.getElementById('occupation').value = data.occupation;
            document.getElementById('incomeSource').value = data.incomeSource;
            document.getElementById('address').value = data.address;
            document.getElementById('firstTransaction').value = data.firstTransaction
           
            document.querySelector('input[name="customerType"][value="existing"]').checked = true;
            
        } else {
            clearFields();  // Handle case where no customer is found
        }
    })
    .catch(error => console.error('Error fetching customer details:', error));
}


function fetchCustomerInfo(name) {
    console.log("Fetching customer info for:", name); // Log the name

    fetch('/get_customer_info', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ name: name })
    })
    .then(response => {
        if (!response.ok) {
            return response.text().then(text => {
                throw new Error('Network response was not ok: ' + response.statusText + ' - ' + text);
            });
        }
        return response.json();
    })
    .then(data => {
        if (data && Object.keys(data).length > 0) {
            document.getElementById('work').value = data.Customer_work || '';
            document.getElementById('addressed').value = data.Address || '';
            fetchCustomerTransactions(name);
        } else {
            clearFields();
            console.log("No customer data found.");
        }
    })
    .catch(error => console.error('Error fetching customer info:', error));
}

function fetchCustomerTransactions(name) {
    fetch('/get_customer_transactions', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ name: name })
    })
    .then(response => response.json())
    .then(data => {
        const transactionsContainer = document.getElementById('branchTransactions').getElementsByTagName('tbody')[0];
        transactionsContainer.innerHTML = ''; // Clear previous rows

        if (data && !data.message) {
            data.forEach(transaction => {
                const row = transactionsContainer.insertRow();
                const branchCell = row.insertCell(0);
                const loanDateCell = row.insertCell(1);
                const birthdayCell = row.insertCell(2);
                const purposeCell = row.insertCell(3);


                branchCell.textContent = transaction.Branch;
                loanDateCell.textContent = transaction.LoanDate;
                birthdayCell.textContent = transaction.Birthday;
                purposeCell.textContent = transaction.Purpose;
            });
        } else {
            const row = transactionsContainer.insertRow();
            const cell = row.insertCell(0);
            cell.colSpan = 2;
            cell.textContent = data.message || "No transactions available.";
        }
    })
    .catch(error => console.error('Error fetching transactions:', error));
}

function displayTransactions(transactions) {
    const transactionsContainer = document.getElementById('branchTransactions');
    transactionsContainer.innerHTML = '';

    transactions.forEach(transaction => {
        const transactionElement = document.createElement('div');
        transactionElement.innerHTML = `
            <p>Branch: ${transaction.Branch}</p>
            <p>Loan Date: ${transaction.LoanDate}</p>
             <p>Birthday: ${transaction.birthday}</p>
             <p>Purpose: ${transaction.purpose}</p>
            <hr>
        `;
        transactionsContainer.appendChild(transactionElement);
    });
}


        window.onload = function() {
         const username = '{{ session.username }}';
         fetch('/get_existing_names')
        .then(resp => resp.json())
        .then(data => {
            existingNames.push(...data.names);
            const anotherSearchInput = document.getElementById("name");
            autocomplete(anotherSearchInput, existingNames, fetchCustomerDetails);
        })
        .catch(error => console.error('Error fetching names:', error));
        

        fetch('/get_global_names')
        .then(resp => resp.json())
        .then(data => {
            globalNames.push(...data.names);
            const SearchInputcustomer = document.getElementById("searchInput");
            autocomplete(SearchInputcustomer, globalNames, fetchCustomerDetails);
        })
        .catch(error => console.error('Error fetching global names:', error));
        
        const anotherSearchInput = document.getElementById("name"); // Adjust this ID
        autocomplete(anotherSearchInput, existingNames, fetchCustomerDetails); 

        const SearchInputcustomer = document.getElementById("searchInput"); 
        autocomplete(document.getElementById("address"), locations, fetchCustomerInfo);

        const customerTypeRadios = document.querySelectorAll('input[name="customerType"]');
        customerTypeRadios.forEach(radio => {
        radio.addEventListener('change', handleCustomerTypeChange);
    });
    const today = new Date();
    const minDate = new Date(today.getFullYear() - 18, today.getMonth(), today.getDate());
    document.getElementById('birthday').max = minDate.toISOString().split("T")[0];
// Update the existing functions for loan and first transaction fields
    document.getElementById('loan').addEventListener('change', function() {
    syncDates('loan', 'firstTransaction'); // Sync Loan Date to First Transaction if applicable
});

    document.getElementById('firstTransaction').addEventListener('change', function() {
    syncDates('firstTransaction', 'loan'); // Sync First Transaction to Loan Date if applicable
});
};
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
       
     function checkCustomer() {
            const nameInput = document.getElementById('name').value;

            if (nameInput) {
                fetch('/check_name', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ name: nameInput })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.birthday) {
                        // Convert MM/DD/YYYY to YYYY-MM-DD
                        const [month, day, year] = data.birthday.split('/');
                        const formattedBirthday = `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`;

                        // Set the birthday value to the input field
                        document.getElementById('birthday').value = formattedBirthday; // Must be in YYYY-MM-DD format
                        document.getElementById('age').value = data.age; 
                        document.getElementById('occupation').value = data.occupation; 
                        document.getElementById('incomeSource').value = data.incomeSource; 
                        document.getElementById('firstTransaction').value = data.incomeSource; 
                        // Check existing customer radio button
                        document.querySelector('input[name="customerType"][value="existing"]').checked = true;
                    } else {
                        // Clear fields if no existing customer
                        clearFields();
                        document.querySelector('input[name="customerType"][value="new customer"]').checked = true; 
                    }
                })
                .catch(error => console.error('Error:', error));
            }
        }
        function handleCustomerTypeChange() {
    const customerType = document.querySelector('input[name="customerType"]:checked').value;

    if (customerType === 'existing') {
        clearDates(); // Optionally clear the dates when an existing customer is selected
    }
}

        function syncDates(sourceId, targetId) {
             const sourceDate = document.getElementById(sourceId).value;
             const targetField = document.getElementById(targetId);
             
      

    const customerType = document.querySelector('input[name="customerType"]:checked').value;
  
    // Only sync if the customer type is new
    if (customerType === 'new customer') {
        targetField.value = sourceDate; // Set the target date to the source date
    }
}

    </script>
    
</head>
<body>
   
    <div class="header">
        <h1 id="welcome">Welcome To Sun Gate Pawnshop!</h1>
        <fieldset>  <!-- Display the logged-in username -->
     <button type="button" onclick="showCustomerInformation()">Customer Information</button> 
     <fieldset id="fieldset1"> <button type="button" class="logout-btn" onclick="logout()">Logout</button></fieldset> 
    </fieldset>
    </div>

    <div class="content">
        <div class="container">
           <div class="Search">
            <p>User: {{ branch }}</p>
               <h2>Search Customer</h2>
               <label id="search">Search <input type="text" id="searchInput" placeholder="Enter customer name" autocomplete="off"></label>
               <div id="suggestionsBox1" class="autocomplete-suggestions hidden"></div>
              <label id="Occupation1">Occupation <input type="text" id="work" readonly autocomplete="off"></label>
              <label id="address1">Address <input type="text" id="addressed" readonly autocomplete="off"></label>
             <button type="button" id="goto" onclick="Surveyform()">Go To</button>
              <div id="transactionInfo">
                <h3>Transaction History</h3>
                <table id="branchTransactions" border="1">
                    <thead>
                        <tr>
                            <th>Branch</th>
                            <th>Loan Date</th>
                            <th>Birthday</th>
                            <th>Purpose</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Transaction rows will be added here dynamically -->
                    </tbody>
                </table>
            </div>
            </div>
            </div>
            
    </div>
</div>
</div>
     
        <script>
            function logout() {
                // Make a POST request to logout
                fetch('/submit', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: new URLSearchParams({ action: 'logout' }) // Set action to logout
                })
                .then(response => {
                    if (response.ok) {
                        window.location.href = '/login'; // Redirect to login page on success
                    } else {
                        console.error('Logout failed');
                    }
                })
                .catch(error => console.error('Error:', error));
            }

            function showCustomerInformation() {
               // Redirect to the customer information page
              window.location.href = '/customerinfo'; 
            }

            function Surveyform() {
                const customerInfo = {
                    name: document.getElementById('searchInput').value
                }
                localStorage.setItem('customerInfo', JSON.stringify(customerInfo));
                const branch ="{{ branch}}";
    window.location.href = `/surveyform?branch=${encodeURIComponent(branch)}`;
}


    function showForm(formId) {
        // Hide all forms
        const forms = document.querySelectorAll('.form-section');
        forms.forEach(form => form.style.display = 'none');

        // Show the selected form
        document.getElementById(formId).style.display = 'block';
    }
</script>
</body>
</html>