<!DOCTYPE html>
<html lang="en">
    <head><title>Sign Up </title></head>
    <link rel="stylesheet" href="../static/signup.css">
    <body>
        <form method="POST" action="/signup">
            <h1>Register Branch</h1>
            <label>Branch<input type="text" class="branch" id="branch" name="branch"> </label>
            <label>Branch ID<input type="text" class="branchid" id="branchid" name="branch_id"> </label>
            <label>UserName<input type="text" id="user" name="user"> </label>
            <label>Password<input type="password" id="password" name="password"> </label>
            <label>Email<input type="email" id="email" name="email"> </label>
        <input type="submit" name="Register" id="Register" value="Register">

        </form>
    </body>
</html>